html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
  font-family: 'Playfair Display', serif;
  margin: 0 0 0 0;
  font-size: 4vh;
}

.videoPlayer{
  width: 100%;
  height: 100%;
  position: absolute;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10 10 10 10;
}

.logo {
  height: 7%;
}

.holidaycard {
  width: 100%;
  position: absolute;
}

.filterimg{
  width: 100%;
  height: 100%;
  position: absolute;
  mix-blend-mode: multiply;
  opacity: 1;
}

.filter{
  width: 100%;
  height: 100%;
  position: absolute;
  mix-blend-mode: multiply;
  opacity: 1;
}

.none {
  background-color: none;
}

.yellow{
  background-color: #EBB91E ;
}

.red{
  background-color: red ;
}

.orange{
  background-color: #ecbc1e ;
}

.purple {
  background-color: purple ;
}
