html, body { width: 100%; height: 100% }

h1 {
  text-align: center;
}

.videoPlayer{
  width: 100%;
  height: 100%;
  position: absolute;
}

img {
  height: 100%;
  position: absolute;
}

.filterimg{
  width: 100vh;
  height: 100vh;
  position: absolute;
  mix-blend-mode: multiply;
  opacity: 1;
}

.filter{
  width: 100%;
  height: 100%;
  position: absolute;
  mix-blend-mode: multiply;
  opacity: 1;
}

.yellow{
  background-color: #EBB91E ;
}

.grey{
  background-color: #414150 ;
}

.orange{
  background-color: orange ;
}

.purple {
  background-color: purple ;
}
